<!DOCTYPE html>
<html>
<head>
  <title>MongoSample</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id = "wrap">
		
		<% flash.each do |name, msg| -%>
		      <%= content_tag :div, msg, class: [name, "container", "interest"] %>
		<% end -%>
		    
		<div class="container">    
			<%= yield %>
		</div>
		<div id="push"></div>
	</div>
	

</body>
</html>
